/* ir.css */
#wrap main .path {
    padding:12px 60px 12px 0;
    border:1px solid #f1f1f1;
    border-left:0; border-right:0;
    text-align:right;
    font-family:pretendard;
    font-size:1rem;
    font-weight:600;
    line-height:100%;
    letter-spacing:0.02em;
}
#wrap main .path * {/* 글자디자인 */}
#wrap main .path a {}
#wrap main .path img {margin:0 8px;}
#wrap main .path em {}
#wrap main > * {text-align:center;}
#wrap main h1 {
    margin:80px 0 20px;
}
#wrap main > p {
    margin-bottom:40px;
}
#wrap main .bg {
    background-color:#fcfcfc;
    padding:80px 0;
}
/* 레이아웃 위치/정렬 기법 종류 inline-block, float, flex, grid, position */
#wrap main .bg .ir_list {
    /* overflow:hidden; */
    width:1280px; height:250px;
    margin:0 auto;
    padding:0 80px;
}
#wrap main .bg .ir_list a {
    float:left;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    width:260px; height:250px;
    margin-right:26.67px;
    text-align:left;
    padding:20px;
    background-repeat:no-repeat;
    background-position:80% 87%;
}
#wrap main .bg .ir_list a:hover {/* a 마우스 올렸을 때 디자인 */
    background-color:#fff;
    border:1px solid #138FBF;
    box-shadow:0 0 30px rgbg(0,0,0,0.2);
}
#wrap main .bg .ir_list a:nth-child(1) {background-image:url(../images/ir/ir_01.png);}
#wrap main .bg .ir_list a:nth-child(2) {background-image:url(../images/ir/ir_02.png);}
#wrap main .bg .ir_list a:nth-child(3) {background-image:url(../images/ir/ir_03.png);}
#wrap main .bg .ir_list a:nth-child(4) {background-image:url(../images/ir/ir_04.png);margin:0;}
#wrap main .bg .ir_list a h2 {
    margin-bottom:10px;
    font-size:25px;
    font-weight:700;
    font-family:pretendard;
}
#wrap main .bg .ir_list a p {
    margin-bottom:10px;
    font-size:18px;
    font-weight:400;
    font-family:pretendard;
}